<nz-table #basicTable [nzData]="users">
  <thead>
  <tr>
    <th nzWidth="60px">
      <button nz-button nzType="primary" (click)="showModal(crudEnum.create, {})">Add</button>
<!--      <div nz-col nzSpan="8">-->
<!--        <a [nz-tooltip]="'Добавить'"><i nz-icon [type]="'plus'" (click)="showModal(crudEnum.create, {})"></i></a>-->
<!--      </div>-->
    </th>
    <th>User Name</th>
    <th>Email Address</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      <button nz-button nzType="primary" (click)="showModal(crudEnum.update, data)">Edit</button>
    </td>
    <td>{{ data.firstName }} {{ data.lastName }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.isActive ? "Active": "Disabled" }}</td>
<!--    <td>-->
<!--      <a>Action 一 {{ data.name }}</a>-->
<!--&lt;!&ndash;      <nz-divider nzType="vertical"></nz-divider>&ndash;&gt;-->
<!--      <a>Delete</a>-->
<!--    </td>-->
  </tr>
  </tbody>
</nz-table>
<app-user-crud (refreshTable)="loadData()"></app-user-crud>
