<nz-modal [(nzVisible)]="service.showUserCrud" [nzTitle]="modalTitle" [nzWidth]="800" [nzContent]="modalContent"
          [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <div>{{ service.crud}}</div>
  </ng-template>
  <ng-template #modalContent>



    <form nz-form [formGroup]="service.validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="firstName" nzRequired>First Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your firstName!">
          <input nz-input id="firstName" formControlName="firstName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="lastName" nzRequired>Last Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your lastName!">
          <input nz-input id="lastName" formControlName="lastName" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email Address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            (ngModelChange)="updateConfirmValidator()"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzValidateStatus]="service.validateForm.controls['mobileCountryCode'] && service.validateForm.controls['mobilePhoneNumber']"
          nzErrorTip="Please input your phone mobileCountryCode and mobilePhoneNumber!"
        >
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <span>+</span>
            </ng-template>
            <input type="text" formControlName="mobileCountryCode" id="'mobileCountryCode'" nz-input  style="width: 10%;" />
            <input type="text" formControlName="mobilePhoneNumber" id="'mobilePhoneNumber'" nz-input style="width:40%;"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="lastName" nzRequired>Status</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your lastName!">
          <nz-select style="width: 120px;" formControlName="isActive" [nzPlaceHolder]="'Please selected'">
            <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
            <nz-option [nzValue]="false" nzLabel="Disabled"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


    </form>


  </ng-template>

  <ng-template #modalFooter>
    <button *ngIf="service.crud==crudEnum.create" nz-button nzType="primary" (click)="submitForm()">Add</button>
    <button *ngIf="service.crud==crudEnum.update" nz-button nzType="primary" (click)="submitForm()">Save</button>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </ng-template>
</nz-modal>
